.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
/* .home img {
  height: 50vh;
  width: 50%;
} */
.opening {
  display: flex;
  flex-direction: column;
  align-items: center;
}
